body {
    font-family: sans-serif;
    background: #202028;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    gap: 20px;
}

canvas {
    border: 1px solid #fff;
    background: #000;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.controls {
    margin-top: 20px;
    text-align: left;
}

.controls h2 {
    margin-bottom: 10px;
}

.controls ul {
    list-style: none;
    padding: 0;
}

.controls li {
    margin-bottom: 5px;
}